<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="author" content="guia xarxes @gencat">
    <meta name="description" content="{{ site.description }}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Twitter cards -->
    <meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@SergiXaudiera" />
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta name="twitter:description" content="Please, help me and read the article on my site. It's much more confortable and there are biscuits and it's ad free ;)" />
	<meta name="twitter:image" content="/img/sx.jpg" />
    <!-- /Twitter cards -->

    <!-- Facebook meta -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="Sergi Xaudiera"/>
    <meta property="og:description" content="{{ post.content | strip_html | truncatewords: 50 }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ page.url }}" />
	<meta property="article:author" content="https://www.facebook.com/sxaudiera" />
    <!-- /Facebook meta -->

    <!-- GWebmasters -->
    <!-- /GWebmasters -->
</head>