/**
 * Site header
 */
.site-header {
    margin: 0 auto;
    padding: 15px 0;
    //width: 38.75em;
    border-bottom: $border;
    color: #57626b;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    min-height: 32px;


    hgroup {
      margin: auto;
      margin-top: .21em;

      @include media-query($on-palm) {
        width: 95%;
        text-align: center;
      }

    }

    h1 {
      font-weight: 500;
      line-height: 1.1;
      margin: 0;
      font-size: 1.1em;
      text-align: center;

      span{

        a {
          font-weight: 400;
          font-size: .9rem;
          color: #999;
        }

      }

    }
}


/**
 * Site footer
 */

footer {
  margin-top: 30px;
  padding: 15px 0;
  border-top: $border;
  text-align: center;
  ul {
    margin: auto;
    margin-top: .21em;
    li {
      display: inline-block;
      margin-right: 0.6em;
      list-style-type: none!important;
      margin-left: 0!important;
    }
  }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.post {
  margin: 0 auto;
  width: 38.75em;

  aside {
    padding: 40px 0;
    text-align: right;
    border-bottom: $border;
  }

  .related {
    padding: 40px 20px 0;
  }

    @include media-query($on-palm) {
      width: 90%;
      margin: auto;
    }

 }

.entry-title {
    margin: $spacing-unit;
}
.post-title {
    color: #2c251d;
    font-size: 1.6 * $base-font-size;
    font-weight: 600;
    line-height: 1.5 * $base-font-size;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 1.9em;
    }

    h3 {
        font-size: 1.7em;
    }

    h4 {
        font-size: 1.6em;
    }

    time {
        font-size: 1.1rem;
        float: right;
        line-height: 2.6;
        text-align: right;
        color: #969EA3;
        span {
            font-wight: 500;
        }
    }
}

.about {
	  width: 844px;
	  min-height: 280px;
	  margin: auto;
	  padding: 1.1em 1.1em 1.5em;
	  border-bottom: 1px solid #eee;
	  font-size: 0.8em;
	  h3 {
	  	margin: 0;
	  }
}

